name: tests-and-coverage
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    name: tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Build Binary
        run: go build ./...
      - name: Run Validation
        run: go vet ./...
      - name: Run Tests
        run: go test -v -covermode=atomic -coverprofile=coverage.out -coverpkg=./... ./...
        shell: bash
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tests
          path: coverage.out
  coveralls:
    runs-on: ubuntu-latest
    name: coveralls
    needs: test
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install Dependencies
        run: go install github.com/mattn/goveralls@latest
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: tests
      - name: Send Coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=coverage.out -service=github
        shell: bash
